%div{:id => 'collection'}
  - blueprint 'span-23 prepend-1 last' do
    = render :partial => 'user', :collection => @users

%div{:id => 'paginator', :class => 'ajaxed_paginator'}
  - blueprint 'span-23 prepend-1 last' do
    = will_paginate(@users)
