= render :partial => @user.person unless @user.person.nil?
= render :partial => @user.address unless @user.address.nil?
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = link_to t(:edit), edit_profile_path