#*#
*.swo
*.swp
*_flymake*
*~
.#*
.DS_Store
._*
.autotest*
.svn
.svn/*
\#*
bin
bin/
config/database.yml
config/mail.yml
config/site.yml
coverage
db/*
db/*.sqlite3
!db/migrate
!db/migrate/*
log/*
log/*.log
mkmf.log
public/pictures
public/system
semantic.cache
tmp/*
tmp/**/*
vendor/bundler_gems
vendor/gems
public/stylesheets/application.css
public/stylesheets/dashboard.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.css
public/stylesheets/session.css
public/photos
config/ldap.yml
Gemfile.lock
.idea
.bundle
