[submodule "vendor/plugins/betternestedset"]
	path = vendor/plugins/betternestedset
	url = git://github.com/tekin/betternestedset-patched.git
[submodule "vendor/plugins/calendar_date_select"]
	path = vendor/plugins/calendar_date_select
	url = git://github.com/timcharper/calendar_date_select.git
