[submodule "vendor/plugins/betternestedset"]
	path = vendor/plugins/betternestedset
	url = git://github.com/tekin/betternestedset-patched.git
[submodule "vendor/plugins/calendar_date_select"]
	path = vendor/plugins/calendar_date_select
	url = git://github.com/timcharper/calendar_date_select.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/validates_email_veracity"]
	path = vendor/plugins/validates_email_veracity
	url = git://github.com/Empact/validates_email_veracity_of.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/ssl_requirement"]
	path = vendor/plugins/ssl_requirement
	url = git://github.com/rails/ssl_requirement.git
