[submodule "vendor/plugins/betternestedset"]
	path = vendor/plugins/betternestedset
	url = git://github.com/tekin/betternestedset-patched.git
[submodule "vendor/plugins/calendar_date_select"]
	path = vendor/plugins/calendar_date_select
	url = git://github.com/timcharper/calendar_date_select.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/validates_email_veracity"]
	path = vendor/plugins/validates_email_veracity
	url = git://github.com/Empact/validates_email_veracity_of.git
