<tr>
<td>
  <%= image_tag("/photos/#{record.user_id}.jpg", :size => "35x40", :border => '1px') %>
</td>
<td> <%=  record.user.person.fullname unless record.user.person.nil? %> </td>
<td>
  <%= link_to get_label('edit'), admin_user_request_path(record.user_id) %>
</td>
</tr>

