%tr
  %td= link_to user_document.document.name, user_document.file.url, :target => :new
  %td.btn-group
    = link_to t(:edit), edit_user_document_path(user_document), :class => 'btn btn-info'
    = link_to t(:delete), user_document_path(user_document), :method => :delete, :confirm => t(:confirm_question), :class => 'btn btn-warning'
