- blueprint 'span-23  last' do
  %h3="Listado calendarios por cubículo del periodo #{@period.name}"

- blueprint 'span-23 last' do
  %table
    %tr
      %th{:class => 'office_cubicles'}='Cubículo'
      %th{:class => 'office_cubicles'}='Calendario'

    - @office_cubicles.each do |office_cubicle|
      %tr
        %td{:class=>'office_cublice_record'}= office_cubicle.as_text
        %td= link_to t(:show), academics_calendar_path(:id =>office_cubicle.id, :period_id => @period.id)

- blueprint 'span-23 prepend-1 last' do
  = will_paginate(@office_cubicles)