body {
  background-color: #fff;
  color: #333;
  margin-top: .2%;
  margin-left: .5%;
  margin-right: .5%;
  border: 0px;
  padding: 0px;
}

#header {
  background: url(/images/header.png) top left no-repeat;
  text-align: right;
  padding-top: 55px;
  font: 10pt "arial";
  border: 0px;
  width: 600px;
  height: 40px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 5px;
}

#header a, a:visited {
        color: #666;
        text-decoration: none;
    padding-right: 10px;
        vertical-align: bottom;
}

#header a:hover {
        color: blue;
}

.toplinks {
        width: 100%;
        display: table;
        text-align: right;
        color: #0F4180;
    vertical-align: bottom;
}

.toplinks a, a:visited {
        color: #0F4180;
    text-decoration: underline;
}

.toplinks a:hover {
        color: green;
    text-decoration: underline;
}

.logged_user {
    color: green;
    font-weight: bold;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 1px;
  border-bottom: 1px solid red;
  display: table-cell;
}

#errorExplanation {
  width: 400px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-left: 90px;
  background-color: #F8F8FF;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #FFFF00;
  border-bottom: 2px solid red;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

#footer {
  position: static;
  /* background: url(/images/footer.png) top left no-repeat; */
  text-align: center;
  margin-top: 10px;
  font: 10pt "arial";
  border: 0px;
  width: 800px;
  height: 60px;
}