#tree {
        text-align: left;
        font: 9pt Arial, sans-serif;;
        padding-left: 5px;
        padding-right: 0px;
        margin-right: 25px;
        width: 200px;
        min-height: 700px;
        font-weight: bold;
        white-space: nowrap;
        margin-bottom: 5px;
        float: left;
        margin-left: 0;
        border-top: 1px solid green;
        border-right: 1px solid green;
}

#tree ul {
        padding-left: 10px;
        top: 0;
        left: 0
}

#tree li {
    font-size:11px;
    padding-left: -10px;
    margin:1px;
    padding:2px;
    border-bottom:1px solid silver;
    color:  #003399;
}

#tree li a {
       display:block;
       width: 95px;

       padding: 4px 0px 0px 0px;
       text-decoration:none;
       text-align: left;
       font-size:11px;
       color: #003399;
}

#tree li a:hover {
        color:  #1E90FF;
        border-left-color:#99CC00; //Luego le cambio el color al borde en el evento hover.
}

#body {
    font: 12px Arial, Helvetica, sans-serif;
    display:block;
    min-height: 750px;
    margin-left: 200px;
}

#body #main_form {
        float: left;
        display: table-cell;
        margin-right: 10px;

}

#body #quickpost_form {
        border: 1px solid green;
        display: table-cell;
        padding: 10px;
}

#body h2{
       color: green;
}

#body h3{
        color: #0F4180;;
}

#body a, a:visited {
    color: blue;
    font-weight: normal;
    text-decoration: none;
}

#body  a:hover {
    color: green;
    text-decoration: none;
}

label {
        float: left;
        width: 200px;
        min-height: 25px;
        text-align: left;
        margin-right: 10px;
        margin-bottom: 5px;
        font:  12px Arial,  sans-serif;
        font-weight: bold;
        color: #000000;
}

input[type="button"], input[type="submit"]  {
  color: #034168;
  background-color: #D6E7EF;
  border: 1px solid #999;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-left: 2px;
  margin-top: 0px;
  margin-right: 2px;
  font: 12px Arial, Helvetica, sans-serif;
  vertical-align: top;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #ffff99;
  color: #000;
  font: 12px Arial, Helvetica, sans-serif;
}

select {
        width: expression(document.body.clientWidth < 742? "300px" : document.body.clientWidth > 1202? "400px" : "auto");
    max-width: 350px;
    overflow: visible;
}

.box {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #5268a0 #6377a9 #112153 #09143a;
  min-width: 250px;
  padding: 10px;
}

.box .title {
  font: bold 12pt, Arial, sans-serif;
  font-weight: bold;
  color: #0866B7;
  border-bottom: 1px solid #09143a;
  margin-bottom: 3px;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.box a, a:visited {
 color: #0866B7;
 font-weight: bold;
 text-decoration:none;
}

.box a:hover {
 color: green;
 font-weight: bold;
}

.super_special {
  font-weight: bold;
}

.th {
  display: table-cell;
  font-weight: bold;
  width: 140px;
  padding: 3px;
  border-bottom: 1px solid silver;
}

.th_action {
  display: table-cell;
  font-weight: bold;
  width: 45px;
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid silver;
}

.td {
  display:table-cell;
  width: 140px;
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid silver;
}

.td_action {
  display:table-cell;
  width: 45px;
  padding: 3px;
  vertical-align: top;
  text-align: center;
  border-bottom: 1px solid silver;
}

.required {
   color: #1E90FF;
   font-weight:bold;
}

p.required_note {
        background-color: #FFFFCC;
        width: 380px;
        margin-left: 70px;
        border: 1px groove green;
        padding: 3px;
}

.th_large {
  display: table-cell;
  font-weight: bold;
  width: 300px;
  padding: 3px;
  border-bottom: 1px solid silver;
}
.td_large {
  display:table-cell;
  width: 350px;
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid silver;
}

.box_for_show {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #5268a0 #6377a9 #112153 #09143a;
  padding: 10px;
}

.box_for_show p {
        border-bottom: 1px solid silver;
}

.box_for_show h3 {
  background: #99CCFF;
  border-width: 2px;
  border-style: groove;
  border-color: #09143a #112153 #6377a9 #5268a0;
  padding: 5px;
}

.td {
  display:table-cell;
  width: 140px;
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid silver;
}

.td ul {
        padding-left: 10px;
        top: 0;
        left: 0
}

.td li {
        font-size:11px;
    margin:1px;
    padding:2px;
    color:  #003399;
}

.td li a {
       display:block;
       padding: 0px;
       text-decoration:none;
       text-align:center;
       font-size:11px;
           color: #003399;
}

.td li a:hover {
        color:  #1E90FF;
        border-left-color:#99CC00; //Luego le cambio el color al borde en el evento hover.
}

#form p {
	display: table-row;
	text-align: left;
    border-bottom: 1px solid blue;
}
