- unless f.error_notification.nil?
  .well.alert.alert-error
    %ul#errorExplanation
      - f.object.errors.messages.each_pair do |key, msg|
        %li
          %b=t(key) + ':'
          = msg.join(', ')
