<div id="myerror_messages"></div>
<div id="form">
<%= render :partial => 'shared/required_note' %>
<% form_for Inflector.camelize(@record.class.name).underscore.to_sym, @record, :builder =>  LabelFormBuilder, :url => {:action => :update} do |f| %>
  <%= render :partial =>'form', :locals => { :f => f } %>
  <p>
    <%= f.submit get_label("save") %> | <%= link_to_remote get_label('cancel'), :url => person_path, :method => :get, :update => 'form'%>
  </p>
<% end %>
</div>
