<div id="form">
<% @pairs.each do |c| %>
<p>
<label><%= get_label(c[0]) %>: </label><%= c[1] %>
</p>
<% end %>
<%= link_to_remote 'edit', :url => edit_person_path, :method => :get, :update => 'form' %>
</div>
