%p
  Hola #{@resource.email}!
%p Se ha realizado una solicitud para cambiar tu contraseña a través de esta liga:
%p= link_to 'Cambiar mi password en el SIESTA', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si tu no hiciste esta solicitud, por favor ignora este correo.
%p Tu password no cambiará hasta que tu uses la liga y cambies la información.
