%p
  Hola #{@resource.login}!
%p Para cambiar tu contraseña en el sistema SIESTA usa la siguiente liga:
%p= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no hiciste esta solicitud, ignora este correo electrónico.
%p Tu contraseña no cambiará hasta que acceses a la liga de arriba y captures una nueva contraseña.
