%h3=t '.title'
= render :partial => 'schooling_show', :object => @schooling
.span12
  = link_to t(:edit), edit_schooling_path, :class => 'btn btn-primary'
  = link_to t(:back), schoolings_path, :class => 'btn'
