= error_messages_for :document
- form_for(@document, :user_document, :url => file_uploader_path(@document), :html => {:multipart => true}) do |f|
   = render :partial => 'user_documents/form', :locals => { :f => f}
