= render :partial => "/shared/errors", :object => @document.errors
- form_for(@document, :user_document, :url => file_uploader_path(@document), :html => {:multipart => true}, :builder => MyFormBuilder) do |f|
   = render :partial => 'user_documents/form', :locals => { :f => f}
