= error_messages_for :document
- form_for(@document, :user_document, :url => file_uploaders_path, :html => { :multipart => true }, :builder => MyFormBuilder) do |f|
   = render :partial => 'user_documents/form', :locals => { :f => f }
