%tr
  - email = user.login + '@fisica.unam.mx'
  %td= email
  %td= user.fullname.force_encoding("UTF-8")
  %td
    - if user.login + '@fisica.unam.mx' == @student.email
      .badge.badge-info= 'Cuenta asignada'
    - else
      = link_to 'Asignar cuenta', managers_email_path(@student, :email => email ), :method => :put, :class => 'btn btn-success', :confirm => t(:confirm_question)
