.message_box
  background: #fff url(/images/message_box.png) no-repeat
  width: 422px
  height: 119px
  padding: 0px
  margin: 0px
  text-align: center

.notice_box
  background: #fff url(/images/notice.png) no-repeat
  width: 434px
  height: 43px
  padding: 15px
  text-align: justify
  font-size: 12px

.notice_box img
  float: left
  margin: 5px
  border: 0px
  margin-top: -5px

.blue
  color: #006699

.bluelight
  color: #009AFB

.red
  color: #cc0000

.browser_note
  font-size: 13px
  color: #333333
  text-align: justify
  font-style: oblique

p
  font-size: 13px

h3
  color: #003399
  font-weight: bold
  font-size: 15px
  text-align: left

label
  display: inline-block
  float: left
  font-weight: bold
  text-align: left
  margin-top: 10px

.login
  width: 80px

.user_new
  width: 190px

input 
  font-size: 12px
  padding-left: 0px
  margin-left: 0px

input[type="text"], 
input[type="password"]
  width: auto
  padding-left: 0px
  font-size: 12px
 