.browser_note
  font-size: 13px
  color: #333333
  text-align: justify
  font-style: oblique

p
  font-size: 13px

h3
  color: #003399
  font-weight: bold
  font-size: 15px
  text-align: left

label
  display: inline-block
  float: left
  font-weight: bold
  text-align: left
  margin-top: 10px

.login
  width: 80px

.user_new
  width: 190px
