<div class="user_profile">
<div class="row">
        <div class="photo">
                <%= image_tag(formatted_photo_path(@record.user_id, :format => 'jpg'), :size => "70x80", :border => '1px') %>
        </div>
</div>
</div>
