- blueprint 'span-22 prepend-1 last' do
  %h3= 'Estudiantes Asociados'
  - blueprint 'span-22 last', :style => 'margin-bottom: 20px;' do
    %b= "Académico responsable: " + @academic.fullname
  = render :partial => 'student_request', :collection => @collection