- form_for(@user, :recover_password, :url => recover_password_path, :remote => true) do |f|
  %p
    = f.label 'Correo electrónico'
  %p
    = f.text_field :email, :size => 30
  %p
    = submit_tag('Enviar contraseña')