<p><label>Ciudad<span class="required">*</span></label>
   <%= hidden_field  'quickposts[city]', :state_id, :value => 83 %>
   <%= text_field 'quickposts[city]',:name, :size => 30, :maxlength => 255 %>
</p>
