%h3= 'Modificar periodo'
- form_for @period,  :url => managers_period_path(@period), :html => { :method => :put, :style => 'text-align: left;'} do |f|
  = render :partial => 'form', :locals => { :f => f}
