<div class="row" id="<%= user_request.dom_id %>">
<span class="td_content"> <%= user_request.user.person.fullname %> </span>
<span class="td_content"> <%= user_request.role.name %> </span>
<span class="td_actions">
	
</span>
</div>