.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      Instituto de Física | Circuito de la Investigación Científica Ciudad Universitaria
      | CP 04510 México, D.F. Teléfono: +52 (55) 56-22-50-01 ext 289 | Contacto: 
      = mail_to('soporte@fisica.unam.mx')
