%div{:id => 'header', :class => "span-24 last"}
  %h1= link_to "Instituto de Física - UNAM", "http://www.fisica.unam.mx", :target => '_new'
- unless current_user.nil?
  - blueprint 'span-24 last', :style => 'text-align: right; padding-right: 100px;' do
    = link_to 'Salir', logout_url